html {
 height: 100%;
 width: 100%;
}
• bandau {color : green; background-color: magenta; text-align : center; padding: 20px
• giua {color : red; background-color: yellow; padding: 20px ; }
• giua a{color : black; display: block;}
• giua a : hover{color : blue; background-color: gray;}
• cuoi {color : blue;}
